@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
}

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$white: hsl(0, 0%, 100%);
$mobile-width: 375px;

body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: $pale-blue;
}

a {
    font-weight: 700;
    font-size: 0.95rem;
    color: $bright-blue;
    transition: 0.2s;

    &:hover {
        text-decoration: none;
        opacity: 0.6;
    }
}

main {
    overflow: auto;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background: url('./../images/pattern-background-desktop.svg') no-repeat top center fixed;
    background-size: contain;
    padding: 0 1rem;

    @media screen and (max-width: $mobile-width) {
        background: url('./../images/pattern-background-mobile.svg') no-repeat top center fixed;
    }
}

.card {
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 450px;
    background-color: $white;
    border-radius: 1.25rem;
    box-shadow: 0px 8px 50px -30px $desaturated-blue;

    @media screen and (max-width: $mobile-width) {
        width: 100%;
    }

    &__header {
        border-radius: 1.25rem 1.25rem 0 0;
        height: 220px;
        background: url('./../images/illustration-hero.svg') no-repeat center;

        @media screen and (max-width: $mobile-width) {
            height: 160px;
            background-size: cover;
        }
    }

    &__body {
        text-align: center;
        padding: 1rem 2.8rem 0 2.8rem;

        @media screen and (max-width: $mobile-width) {
            padding: 1.25rem 1.4rem 0 1.4rem;
        }
        
        &-title {
            font-size: 30px;
            font-weight: 900;
            color: $dark-blue;
            margin-bottom: 1rem;

            @media screen and (max-width: $mobile-width) {
                font-size: 1.5rem;
            }
        }

        &-txt {
            font-size: 1rem;
            font-weight: 500;
            color: $desaturated-blue;
            letter-spacing: 0.5px;
            margin-bottom: 1.5rem;
            line-height: 1.6;
            padding: 0 0.625rem;

            @media screen and (max-width: $mobile-width) {
                font-size: 15px;
            }
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        padding: 0.625rem 2.8rem 1rem 2.8rem;

        @media screen and (max-width: $mobile-width) {
            padding: 1.25rem 1.4rem;
        }
    }
}

.plan {
    padding: 1.375rem 1.5rem;
    background-color: $very-pale-blue;
    display: flex;
    align-items: center;
    border-radius: 0.95rem;
    margin-bottom: 1.75rem;

    @media screen and (max-width: $mobile-width) {
        padding: 1.25rem 15px;
        margin-bottom: 0;
    }

    &__icon {
        margin-right: 20px;
    }

    &__description {
        text-align: start;
        flex-basis: 40%;
        margin-right: auto;

        h2, p{
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 1.0625rem;
            font-weight: 900;
            color: $dark-blue;
            margin-bottom: 0.25rem;

            @media screen and (max-width: $mobile-width) {
                font-size: 0.875rem;
            }
        }

        p {
            color: $desaturated-blue;
        }
    }
}

.btn {
    margin-bottom: 0.875rem;
    border-radius: 0.625rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;

    &__dark {
        background-color: $bright-blue;
        color: $white;
        box-shadow: 0 0.5rem 2.5rem -0.8125rem $bright-blue;

        &:hover {
            opacity: 0.7;
        }
    }

    &__default {
        background-color: transparent;
        color:$desaturated-blue;

        &:hover {
            color: $dark-blue;
            opacity: 0.8;
        }
    }
}